.layout {
    display: flex;
    height: 100vh;
    padding: 1%;
    align-items: center;
    background-color: black;
    border-image: linear-gradient(to right, rgba(255,0,0) 20%, rgba(255,98,0) 60%, rgba(255,248,0) 100%);
    border-image-slice: 1;
    border-style: outset;
}