.progressBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(255, 230, 0, 0.788);
}

.progressBar .bar {
    height: 90%;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,98,0,1) 43%, rgba(255,248,0,1) 100%);
}

.progressBar svg {
    width: 1.5rem;
    height: auto;
    margin-left: -2%;
    color: yellow
}