.folderInput {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    cursor: pointer;
}

.folderInput label {
    display: block;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.folderInput input[type=file]::file-selector-button{
    background: none;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
}