.folderInput {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,98,0,1) 43%, rgba(255,248,0,1) 100%);
    border-radius: 5%;
}

.folderInput label {
    display: block;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.folderInput input[type=file]::file-selector-button{
    background: none;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}